// Navbar variables
$navbar-height: 110px;
$navbar-background-color: #EAB118;

// Colors
$primary: #EAB118; // yellow logo
$secondary: #3C5099; //blue logo



// Thead
$primary-thead : #383838;
$primary-row: #241f13;
