<div class="container-custom">
    <section class="right-section">
        <h1 class="establishment-name">{{establishment.name}}</h1>
        <section class="establishment-card">
            <app-establishment-detail-card [establishment]="establishment"></app-establishment-detail-card>
        </section>
        <div class="invitation">
            <div class="invite-friends">Inviter des amis</div>
        </div>
        <section class="comments">
            <h2 class="comments-section-title">Commentaires :</h2>
            <span>({{commentCount}} avis)</span>
            <div class="comments-section" *ngFor="let comment of establishment.comments">
                <div class="comment-tile">
                    <h2></h2>
                    <h3>{{comment.title}}</h3>
                    <p class="comment-text">{{comment.content}}</p>
                    <div class="comment-footer">
                        <p class="comment-date">
                            {{comment.createdDate}}
                        </p>
                    </div>
                </div>
            </div>  
        </section>
    </section>
    <section class="left-section">
        <section class="other-establishments">
            right section
        </section>
    </section>
</div>
