<div class="container-custom">
    <section class="jumbotron-custom">
        <h1>Envie de sortir ?</h1>
    </section>
    <section class="mat-grid-container"> 
        <app-carousel *ngIf="user.connected == true"></app-carousel>
        <div class="filtersBar">
            <div class="moodChoiceButton">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)="onMoodClick()" value="drinks">
                        <img src="../../../assets/images/beer-mood.svg" alt="chill mood logo">
                    </mat-button-toggle>
                    <mat-button-toggle (click)="onMoodClick()" value="party">
                        <img src="../../../assets/images/party-mood.svg" alt="party mood logo">
                    </mat-button-toggle>
                    <mat-button-toggle (click)="onMoodClick()" value="chill">
                        <img src="../../../assets/images/chill-mood.svg" alt="chill mood logo">
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="3%">
            <mat-grid-tile class="tile" *ngFor="let establishment of establishments">
                <app-establishment-card [establishment]="establishment"></app-establishment-card>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>