* {
    box-sizing: border-box;
 }
 
.container-custom {
    margin: auto;
    padding: 3%;
    max-width: 1500px;
 }
 
.jumbotron-custom h1 {
    font-size: 4em;
 }
 
mat-grid-tile {
    padding: 0;
    margin: 0;
 }

.tile {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
.filtersBar {
    /* background-color: aquamarine; */
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
 }
 
.mood-btn-toggle-group {
    border: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    min-width: 180px;
    max-width: 10%;
    margin: 2px 2px;
    height: 60px;
 }
 
.mood-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.4;
    border: none !important;
    box-shadow: rgba(17, 16, 16, 0.2) 0px 2px 8px 0px;
 }
 
.mood-btn:active {
    transform: translate(1px, 1px);
 }
 
.mood-btn img {
    width: 100%;
 }
 
.mat-button-toggle-checked  {
    background-color: #fff;
    opacity: 1;
 }
 
.order-btns {
    width: 280px;
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
 }
 
.order-btn {
    display: flex;
    align-items: center;
    background-color: #3C5099 ;
    color: #fff;
    width: 130px;
    border-radius: 22px;
    height: 30px;
    padding: 17px 0;
 }
 
.order-btn:active {
    transform: translate(1px, 01px);
 }

.order-btns .mat-button-toggle-checked {
    color: #3C5099;
    background-color: #FFF;
    border: #3C5099 solid 2px;
 }
 
.distance-filter {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
.distance-filter mat-icon {
    color: #3C5099;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.km {
    color: #3C5099;
    width: 30px;
 }
 
::ng-deep
.mat-slider-track-wrapper{
    background-color: #3C5099 !important;
 }
 
::ng-deep
.mat-slider-thumb{
    background-color: #3C5099 !important;
    color: #3C5099 !important;
    opacity: 1;
 }
 
::ng-deep
.mat-slider-thumb-label{
    background-color: #3C5099 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
::ng-deep
.mat-slider-thumb-label-text {
    color: #fff !important;
 }
 
::ng-deep
.mat-slider-ticks-container {
    background-color: #3C5099 !important;
 }
 
.inputs { 
    width: 470px;
    display: flex;
    height: 50px;
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.mood-note-container {
 background-color: rgb(132, 28, 230);
 display: flex;
 flex-direction: row;
 /* justify-content: space-between; */
 align-items: center;
 width: 300px;
 padding: 10px;
 height: 80px;
}
.star {
    /* width: 30px;
    height: 30px; */
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 2px; */
    /* border-radius: 50%; */
    background-color: #FFF;
    opacity: 1;
    border: none !important;
    box-shadow: rgba(17, 16, 16, 0.2) 0px 2px 8px 0px;

}

.star img {
    width: 100%;
    opacity: 0.5;
 }
 