<div class="container-custom">
    <section *ngIf="user.connected" class="jumbotron-custom">
        <h1>Envie de sortir ?</h1>
    </section>
    <section class="mat-grid-container"> 
        <app-carousel [establishments]="establishments" *ngIf="user.connected == true"></app-carousel>
        <div class="filtersBar">
            <div class="moodChoiceButton">
                <mat-button-toggle-group class="mood-btn-toggle-group" name="moodButtons">
                    <mat-button-toggle class="mood-btn" (click)="onMoodClick(MOOD_BEER)" [value]="MOOD_BEER">
                        <img src="../../../assets/images/beer-mood.svg" alt="chill mood logo">
                    </mat-button-toggle>
                    <mat-button-toggle class="mood-btn" (click)="onMoodClick(MOOD_PARTY)" [value]="MOOD_PARTY">
                        <img src="../../../assets/images/party-mood.svg" alt="party mood logo">
                    </mat-button-toggle>
                    <mat-button-toggle class="mood-btn" (click)="onMoodClick(MOOD_CHILL)" [value]="MOOD_CHILL">
                        <img src="../../../assets/images/chill-mood.svg" alt="chill mood logo">
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="establishment-order-button">
                <mat-button-toggle-group class="order-btns" name="orderBtns" aria-label="orderBtns">
                    <mat-button-toggle class="order-btn" value="orderByBestNote">Les mieux notés</mat-button-toggle>
                    <mat-button-toggle class="order-btn" value="orderByClosestDistance">Les plus près</mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="distance-filter">
                <mat-icon> pin_drop</mat-icon>
                <small >(km)</small>
                <mat-slider
                    class="distance-slider"
                    thumbLabel
                    [displayWith]="formatLabel"
                    step="1000"
                    min="0"
                    max="100000"
                    aria-label="units">
                </mat-slider>
            </div>
            <div class="inputs">
                <form class="search-form">
                    <!-- <mat-icon> location_on</mat-icon> -->
                    <input class="input-field" type="text">
                    <!-- <mat-icon>search</mat-icon> -->
                    <input class="input-field" type="text">
                </form>
            </div>
        </div>
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="3%">
            <mat-grid-tile class="tile" *ngFor="let establishment of establishments">
                <a [routerLink]="['/establishment', establishment.id]"><app-establishment-card [establishment]="establishment"></app-establishment-card></a>
            </mat-grid-tile>
        </mat-grid-list>
        
    </section>
</div>