<div class="container">
    <h1>Envie de sortir ?</h1>
    <!-- <app-establishment-card></app-establishment-card> -->
    <div *ngFor="let establishment of establishments">
        <div>{{establishment.name + ' ' + establishment.description}}</div>
    </div>
    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let establishment of establishments">
            <!-- {{establishment.name + ' ' + establishment.description}} -->
            <app-establishment-card></app-establishment-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>