.card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.card-img {
    background : center / cover no-repeat url(https://media.timeout.com/images/105860412/1024/576/image.jpg); 
    position: absolute; 
    background-color: aqua;
    height: 60%;
    width: 100%;
    top:0;
    left: 0;
}

.card-content {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.card-comment {
    /* background-color: red; */
    margin-right: 10px;
}