<div class="card-container"> 
  <section class="grid-item card-img"></section>
  <section class="grid-item card-content">
    <div class="card-title">
      <h3>{{ establishment.name }}</h3>
    </div>
    <div class="card-description">
      <p><small>{{ establishment.description}}</small></p>
    </div>
    <div class="card-footer">
      <div class="card-note">
        {{ establishmentNote }}
      </div>
      <div class="card-comment">
        <p><small>
          {{ commentCount}} avis
        </small></p>
      </div>
    </div>
  </section>
</div>
