<section aria-label="images carousel" class="carousel-section">
    <div class="carousel-item active">
        <div class="container-div">
            <h1>Title h1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique mollis finibus. In hac habitasse platea dictumst. Suspendisse diam velit, sollicitudin a ipsum nec, tristique imperdiet diam. Ut laoreet fermentum eros, eu lacinia libero fermentum id. Cras lobortis augue ut velit egestas, ut mattis felis ullamcorper. Nunc vel erat eget nibh faucibus aliquet id vel tellus. Duis eget dapibus mauris, nec ullamcorper elit.</p>
            <button   button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>
    <!-- <button class="carousel-btn previous">
        <span class="material-icons">arrow_back_ios</span>
    </button>
    <button class="carousel-btn next">
        <span class="material-icons">arrow_forward_ios</span>                
    </button>
    <ul *ngFor="let image of images">
        <li  class="slide">
            <img src={{image.imageSrc}} alt={{image.imageAlt}}>
        </li>
    </ul> -->
</section>
